
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <%= form_tag(user_friends_path(@user), method: :get) do%>
                        <%= text_field_tag :search,params[:search],placeholder: "Search users"%>
                        <%=submit_tag "Search",class: "btn"%>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="friends-panel">

    <h2>Here is the list of all the friends of <%= link_to @user.name, user_path(@user)%>:</h2>
</div>
<hr>
<div class="friends-wrapper">
    <% @friendships.each do |friendship|%>
        <ul class="friends-list">
            <li class="friend-item">
                <% if friendship.friend1 == current_user %>
                    <%= image_tag friendship.friend2.avatar.url(:medium), class: "img-cir" %>
                    <%= link_to friendship.friend2.name, user_path(friendship.friend2)%>
                <%else%>
                    <%= image_tag friendship.friend1.avatar.url(:medium), class: "img-cir" %>
                    <%= link_to friendship.friend1.name, user_path(friendship.friend1)%>
                <%end%>
            <%end%>
            </li>
        </ul>
</div>
