<!-- Main -->
<div id="main">

    <!-- One -->
    <section id="one" class="tiles">
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><%= link_to "Info", user_info_path(@user),class: "link"%></h3>
                <p>See user's info.</p>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><%= link_to "Photos", user_photos_path(@user),class:"link"%></h3>
                <p>See user's uploaded photos.</p>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><%= link_to "Travels", user_travels_path(@user),class:"link"%></h3>
                <p>See visited places.</p>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><%= link_to "Reach Out",user_contacts_path(@user) ,class: "link"%></h3>
                <% if current_user == @user%>
                    <p>See who you reached out to.(And vice-versa)</p>
                <%else%>
                    <p>Reach out to <%= @user.name%></p>
                <%end%>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><%=link_to "Friends" , user_friends_path(@user),class:"link"%></h3>
                <p>See user's friends</p>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><%=link_to "Settings", new_user_settings_path(current_user)%></h3>
                <p>Only for the owner of this page.</p>
            </header>
        </article>
    </section>

</div>
<div>
    <h1><%= @user.name%>:</h1>
</div>

<div class="propic">
    <center><%= image_tag @user.avatar.url(:medium)%></center>
    </br>
    <%unless current_user == @user %>
        <% unless is_friend?(@user)%>
            <center><%=button_to "Add Friend", user_friendships_path(@user), method: :post, class: "btn btn-info" %></center>
        <%end%>
    <%end%>
</div>

<% unless @user == current_user%>
<div>
    Want to rate <%= @user.name%>'s profile?
    <%= form_for @user, :url => rate_user_path, method: :post do %>
        <%=select_tag(:num,options_for_select([["1"],["2"],["3"],["4"],["5"]]))%>
        <%=submit_tag "Rate"%>
    <%end%>
</div>
<%end%>
