<!-- Main -->
<div id="main">

    <!-- One -->
    <section id="one" class="tiles">
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Aliquam</a></h3>
                <p>Ipsum dolor sit amet</p>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Tempus</a></h3>
                <p>feugiat amet tempus</p>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Magna</a></h3>
                <p>Lorem etiam nullam</p>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Ipsum</a></h3>
                <p>Nisl sed aliquam</p>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Consequat</a></h3>
                <p>Ipsum dolor sit amet</p>
            </header>
        </article>
        <article>
            <span class="image">
                <%= image_tag ("pic01.jpg")%>
            </span>
            <header class="major">
                <h3><a href="landing.html" class="link">Etiam</a></h3>
                <p>Feugiat amet tempus</p>
            </header>
        </article>
    </section>

</div>

