<div class="border-form-div">
    <%= simple_form_for [@user,@setting] do |f|%>
        <%=f.input :info_city%>
        <%=f.input :info_dob%>
        <%=f.input :info_interests%>
        <%=f.input :info_fb%>
        <%=f.submit "Submit", class: "btn btn-success"%>
    <%end%>
</div>
<%= @user.name%>
