NOTE: If you have already filled in your info, then fill in only the spaces you want to update.</br>
NOTE 2: Please fill all of the fields in the proper format.
</br>
</br>
<div class="border-form-div">
    <%= simple_form_for [@user,@setting] do |f|%>
        <%=f.input :info_city, label: "City"%>
        <%=f.input :info_dob, label: "Date of birth(dd/mm/yyyy)"%>
        <%=f.input :info_interests, label: "Interests"%>
        <%=f.input :info_fb, label: "FB(fb.com/username)"%>
        <%=f.submit "Submit", class: "btn btn-success"%>
    <%end%>
</div>
<div>
    <% if @setting.errors.any?%>
        <% @setting.errors.full_messages.each do |msg|%>
            <li><%= message%></li>
        <%end%>
    <%end%>
</div>
