<h4>This is the photos section for <strong><i><%=@user.name%></strong></i></h4>.
<div class="row">
    <% if current_user == @user%>
        <div class="col-md-6">
            <div>
                <%= form_for [@user,@photo] do |f|%>
                    <% 15.times do %>
                        &nbsp;
                    <%end%>
                    <%= f.file_field :pic%>
            </div>
            <div>
                </br>
                <% 15.times do %>
                    &nbsp;
                <%end%>
                <%= f.text_area :caption, placeholder: "Caption.."%>
            </div>
            <% 15.times do %>
                &nbsp;
            <%end%>
            <%= button_tag type: 'submit',class: "btn btn-success",id: "register-button" do%>
                <i class="fa fa-camera" aria-hidden="true"> Upload</i>
            <%end%>
        <%end%>
        </div>
    <%end%>
    <div class="col-md-6">
        <%= image_tag @user.avatar.url(:medium), class: "img-cir"%>
    </div>
</div>


<hr/>
<div class="posts-container">
    <div class="posts-wrapper row">
        <% @photos.each_with_index do |photo,index| %>
            <div class="post">
                <div class="post-head">
                    <div class="name">
                        <%= @user.name%>

                    </div>
                </div>
                <div class="image center-block">
                    <%= link_to (image_tag photo.pic.url(:medium), class:'img-responsive') %>
                </div>
                <p class="caption">
                <%= photo.caption %>
                </p>
            </div>
        <% end %>
    </div>
</div>
